<!DOCTYPE html>
<!--
********************************
|               |              |
|sidebar        |       content|
|               |              |
|               |              |
|***\           |              |
|    \**********|              |
|character      |              |
|               |              | 
|               |              |
********************************
*****************
|    sidebar    |
*****************
|  \ content    |
|   \           |
|    \          |
|     \         |
| image         |
*****************
-->
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
	<link id="css_page_framework" rel="stylesheet" type="text/css" href="{{ "/assets/css/page-framework.css" | relative_url }}">
</head>

<body>
	<div id="sidebar">
		<h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
		<p>{{- site.description -}}</p>
	</div>
	{% if site.character %}
	<div id="sidebar_character">
		<img src="{{ page.character | default: site.character | relative_url }}" alt="Sidebar Character" />
	</div>
	{% endif %}
	<div id="content_container">
		<div id="content">
			{{- content -}}
		</div>
	</div>
	<script src="{{ "/assets/scripts/page-framework.js" | relative_url }}"></script>
</body>

</html>