<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ "/assets/css/markdown.css" | relative_url }}">
	<link id="css_page_framework" rel="stylesheet" type="text/css" href="{{ "/assets/css/page-framework-posts.css" | relative_url }}">
</head>

<body>
	
<div id="content_container">
<div id="content">
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		showMathMenu: false,
		extensions: ["tex2jax.js"],
		jax: ["input/TeX", "output/HTML-CSS"],
		tex2jax: {
			inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
			processEscapes: true
		},
		"HTML-CSS": { fonts: ["TeX"] }
	});
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>					

                    <small>{{ page.date | date: "%-d %B %Y" }}<br /></small>
                    <h1>{{ page.title }}</h1>
                    
                    <p class="view">by {{ page.author | default: site.author | default: "<em>(unknown)</em>" }}</p>
                    <hr />
                    {{ content }}
                            </div>
	</div>
	<script src="{{ "/assets/scripts/page-framework-posts.js" | relative_url }}"></script>
</body>

</html>
